html,
body {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 20px 20%;
}

.nav_logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
  text-transform: uppercase;
  text-decoration: none;
}

.nav_menu {
  display: flex;
  gap: 30px;
}

.nav_menu a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

/* HERO SECTION START */
.hero_section {
  display: flex;
  padding: 80px 20% 80px;
  gap: 20px;
  align-items: center;
  background-color: #1f2937;
}

.hero_section_left {
  flex: 1;
  color: #f9faf8;
}

.hero_section_left_header {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 6px;
}

.hero_section_left_description {
  font-size: 18px;
  margin-bottom: 10px;
}

.hero_section_left_button {
  display: inline-flex;
  font-size: 18px;
  font-weight: extra-bold;
  text-decoration: none;
  color: #f9faf8;
  background: #3882f6;
  border-radius: 6px;
  padding: 5px 10px;
}

.hero_section_right {
  flex: 1;
}

.hero_section_right img {
  width: 100%;
}
/* HERO SECTION END */

/* INFORMATION SECTION START */
.information_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 24%;
}

.information_header {
  font-size: 36px;
  font-weight: 900;
}

.information_content {
  display: flex;
  width: 100%;
  padding-top: 80px;
  justify-content: space-between;
}

.information_content_game {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
}

.information_content_game img {
  display: block;
  margin: 15px;
  width: 11vw;
  border: 4px solid #3882f6;
  border-radius: 20px;
  transition: 0.3s ease;
}
.information_content_game img:hover {
  transition: 0.3s ease;
  transform: scale(1.05);
}
/* INFORMATION SECTION END */
/* QUOTE SECTION */
.quote_section {
  background-color: #e5e7eb;
  padding: 80px 24%;
}
.quote_text {
  display: flex;
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  padding: 0 20px;
}

.quote_author {
  display: flex;
  font-weight: bold;
  font-size: 24px;
  justify-content: flex-end;
  padding: 0 20px;
}
/* QUOTE SECTION END */

/* CALL TO ACTION */
.call_to_action {
  padding: 80px 20%;
}

.call_to_action_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  border-radius: 10px;
  color: #f9faf8;
  padding: 50px 8%;
}

.call_to_action_content_left {
  display: flex;
  flex-direction: column;
}
.call_to_action_content_header {
  font-size: 24px;
  font-weight: bold;
}

.call_to_action_button {
  color: #f9faf8;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 6px;
  border: 1px solid #f9faf8;
  transition: 0.3s ease;
}
.call_to_action_button:hover {
  transition: 0.3s ease;
  transform: scale(1.05);
}
/* CALL TO ACTION START */
